<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="mx-auto max-w-5xl">
      <div class="gap-4 sm:flex sm:items-center sm:justify-between">
        <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Mis Tickets</h2>

        <div class="mt-6 gap-4 space-y-4 sm:mt-0 sm:flex sm:items-center sm:justify-end sm:space-y-0">
          <div>
            <button type="button" (click)="openModal('create-ticket')" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 5 9 4V3m5 2 1-1V3m-3 6v11m0-11a5 5 0 0 1 5 5m-5-5a5 5 0 0 0-5 5m5-5a4.959 4.959 0 0 1 2.973 1H15V8a3 3 0 0 0-6 0v2h.027A4.959 4.959 0 0 1 12 9Zm-5 5H5m2 0v2a5 5 0 0 0 10 0v-2m2.025 0H17m-9.975 4H6a1 1 0 0 0-1 1v2m12-3h1.025a1 1 0 0 1 1 1v2M16 11h1a1 1 0 0 0 1-1V8m-9.975 3H7a1 1 0 0 1-1-1V8"/>
                </svg>
                Crear incidente
            </button>
          </div>

          <span class="inline-block text-gray-500 dark:text-gray-400"> Filtrar </span>

          <div>
            <label for="filter" class="sr-only mb-2 block text-sm font-medium text-gray-900 dark:text-white">Select duration</label>
            <select [(ngModel)]="filterCriteria" (ngModelChange)="onSelectionChange($event)" id="filter" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500">
              <option value="">Selecciona un elemento</option>
              <option *ngFor="let option of filterOptions" [value]="option.category">{{option.category}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="mt-6 flow-root sm:mt-8">
        <div class="divide-y divide-gray-200 dark:divide-gray-700 p-2">
          <div class="flex flex-wrap items-center gap-y-4 py-6 p-2 justify-center" *ngFor="let ticket of this.filterTicketList; let i = index" [ngClass]="{'bg-gray-50 dark:bg-gray-800': i % 2 === 0, 'bg-white dark:bg-gray-900': i % 2 !== 0}">
            <dl class="w-1/4 sm:w-1/4 lg:w-auto lg:flex-1">
              <!-- <dt class="text-sm font-medium text-gray-500 dark:text-gray-400 justify-text-center ml-4">Titulo:</dt> -->
              <dd class="mt-1.5 text-sm text-gray-900 dark:text-white text-center">
                <span class="text-xs text-gray-300"><span class="text-xs text-gray-500">Titulo:</span> {{ticket.title}}</span>
              </dd>
            </dl>
            <!-- Fecha Creacion -->
            <dl class="w-1/6 sm:w-1/4 lg:w-auto lg:flex-1">
              <!-- <dt class="text-sm font-medium text-gray-500 dark:text-gray-400 justify-text-center ml-4">Fecha Creacion:</dt> -->
              <dd class="mt-1.5 text-base text-gray-900 dark:text-white justify-text-center">
                <span class="text-xs text-gray-300"><span class="text-xs text-gray-500">Fecha Creacion:</span> {{ticket.created_at | date: 'shortDate'}}</span>
                <br><span class="text-xs text-gray-300"><span class="text-xs text-gray-500">Ultima Actualizacion:</span> {{ticket.created_at | date: 'shortDate'}}</span>
              </dd>
            </dl>
            <!-- Fecha Estatus -->
            <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
              
              <dd class="mt-1.5 text-sm  text-gray-900 dark:text-white justify-text-center">
                <span class="text-xs text-gray-300"><span class="text-xs text-gray-500">Prioridad:</span> {{ticket.priority}}</span>
                <br><span class="text-xs text-gray-300"><span class="text-xs text-gray-500">Asignado:</span> {{ticket.assignedTo}}</span>
              </dd>
            </dl>
            <!-- <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
              <dt class="text-sm font-medium text-gray-500 dark:text-gray-400 justify-text-center ml-4">Prioridad:</dt>
              <dd class="mt-1.5 text-sm  text-gray-900 dark:text-white justify-text-center">
                <span class="text-center ml-5">{{ticket.priority}}</span>
              </dd>
            </dl>
            <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
              <dt class="text-sm font-medium text-gray-500 dark:text-gray-400 justify-text-center ml-4">Asignado:</dt>
              <dd class="mt-1.5 text-sm text-gray-900 dark:text-white justify-text-center">
                <span class="text-center ml-5">{{ticket.assignedTo}}</span>
              </dd>
            </dl> -->
            <!-- <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
              <dt class="text-sm font-medium text-gray-500 dark:text-gray-400 justify-text-center ml-4">Prioridad:</dt>
              <dd class="mt-1.5 text-sm  text-gray-900 dark:text-white justify-text-center">
                <span class="justify-text-center ml-4">{{ticket.priority}}</span>
              </dd>
            </dl> -->
            <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
              
              <dd [hidden]="ticket.status != 'Open'"  class="me-2 mt-1.5 inline-flex items-center rounded bg-primary-100 px-2.5 py-0.5 text-xs font-medium text-primary-800 dark:bg-primary-900 dark:text-primary-300">
                <span class="text-xs text-gray-300"><span class="text-xs text-gray-500">Estatus:</span> {{ticket.status}}</span>
                <svg class="me-1 h-6 w-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 30 30">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.5 4h-13m13 16h-13M8 20v-3.333a2 2 0 0 1 .4-1.2L10 12.6a1 1 0 0 0 0-1.2L8.4 8.533a2 2 0 0 1-.4-1.2V4h8v3.333a2 2 0 0 1-.4 1.2L13.957 11.4a1 1 0 0 0 0 1.2l1.643 2.867a2 2 0 0 1 .4 1.2V20H8Z" />
                </svg>
                
                
              </dd>
              <dd [hidden]="ticket.status != 'In Progress'" class="me-2 mt-1.5 inline-flex items-center rounded bg-yellow-100 px-2.5 py-0.5 text-xs font-medium text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300">
                <span class="text-xs text-gray-300"><span class="text-xs text-gray-500">Estatus:</span> {{ticket.status}}</span>
                <svg class="me-1 h-6 w-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h6l2 4m-8-4v8m0-8V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v9h2m8 0H9m4 0h2m4 0h2v-4m0 0h-5m3.5 5.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm-10 0a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z" />
                </svg>
                
              </dd>
              <dd [hidden]="ticket.status != 'Resolved'" class="me-2 mt-1.5 inline-flex items-center rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300">
                <span class="text-xs text-gray-300"><span class="text-xs text-gray-500">Estatus:</span> {{ticket.status}}</span>
                <svg class="me-1 h-6 w-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5" />
                </svg>
              </dd>
              <dd [hidden]="ticket.status != 'Closed'" class="me-2 mt-1.5 inline-flex items-center rounded bg-red-100 px-2.5 py-0.5 text-xs font-medium text-red-800 dark:bg-red-900 dark:text-red-300">
                <span class="text-xs text-gray-300"><span class="text-xs text-gray-500">Estatus:</span> {{ticket.status}}</span>
                <svg class="me-1 h-6 w-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                </svg>
              </dd>
            </dl>
            <!-- Acciones -->

            <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
              <dt class="text-sm font-medium text-gray-500 dark:text-gray-400 justify-text-center mt-1 ml-20">Acciones</dt>
              <dd class="mt-1.5 text-sm text-gray-900 dark:text-white justify-text-center">
                <div class="w-full grid sm:grid-cols-2 lg:flex lg:w-64 lg:items-center lg:justify-end gap-2">
                <button class="inline-block inline-flex items-center justify-center p-1.5 border border-[9F580A]/20 rounded text-green-600 bg-green-600/10 hover:bg-green-600/20 dark:border-green-500/30 dark:bg-green-500/20 dark:hover:bg-green-500/30 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 transition-colors">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path fill="currentColor" fill-rule="evenodd" d="M12 4a8 8 0 0 0-6.895 12.06l.569.718-.697 2.359 2.32-.648.379.243A8 8 0 1 0 12 4ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10a9.96 9.96 0 0 1-5.016-1.347l-4.948 1.382 1.426-4.829-.006-.007-.033-.055A9.958 9.958 0 0 1 2 12Z" clip-rule="evenodd"/>
                        <path fill="currentColor" d="M16.735 13.492c-.038-.018-1.497-.736-1.756-.83a1.008 1.008 0 0 0-.34-.075c-.196 0-.362.098-.49.291-.146.217-.587.732-.723.886-.018.02-.042.045-.057.045-.013 0-.239-.093-.307-.123-1.564-.68-2.751-2.313-2.914-2.589-.023-.04-.024-.057-.024-.057.005-.021.058-.074.085-.101.08-.079.166-.182.249-.283l.117-.14c.121-.14.175-.25.237-.375l.033-.066a.68.68 0 0 0-.02-.64c-.034-.069-.65-1.555-.715-1.711-.158-.377-.366-.552-.655-.552-.027 0 0 0-.112.005-.137.005-.883.104-1.213.311-.35.22-.94.924-.94 2.16 0 1.112.705 2.162 1.008 2.561l.041.06c1.161 1.695 2.608 2.951 4.074 3.537 1.412.564 2.081.63 2.461.63.16 0 .288-.013.4-.024l.072-.007c.488-.043 1.56-.599 1.804-1.276.192-.534.243-1.117.115-1.329-.088-.144-.239-.216-.43-.308Z"/>
                    </svg>
                  </button>
                <button type="button" class="inline-block inline-flex items-center justify-center p-1.5 border border-[9F580A]/20 rounded text-red-600 bg-red-600/10 hover:bg-red-600/20 dark:border-red-500/30 dark:bg-red-500/20 dark:hover:bg-red-500/30 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 transition-colors">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m6 6 12 12m3-6a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                </button>
                <button  class="inline-block inline-flex items-center justify-center p-1.5 border border-[9F580A]/20 rounded text-blue-600 bg-blue-600/10 hover:bg-blue-600/20 dark:border-blue-500/30 dark:bg-blue-500/20 dark:hover:bg-blue-500/30 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition-colors">
                  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                    <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                  </svg>
                </button>
            </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>

      <nav class="mt-6 flex items-center justify-center sm:mt-8" aria-label="Page navigation example">
        <ul class="flex h-8 items-center -space-x-px text-sm">
          <li>
            <a href="#" class="ms-0 flex h-8 items-center justify-center rounded-s-lg border border-e-0 border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
              <span class="sr-only">Previous</span>
              <svg class="h-4 w-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
          </li>
          <li>
            <a href="#" class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
          </li>
          <li>
            <a href="#" aria-current="page" class="z-10 flex h-8 items-center justify-center border border-primary-300 bg-primary-50 px-3 leading-tight text-primary-600 hover:bg-primary-100 hover:text-primary-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
          </li>
          <li>
            <a href="#" class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">...</a>
          </li>
          <li>
            <a href="#" class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">100</a>
          </li>
          <li>
            <a href="#" class="flex h-8 items-center justify-center rounded-e-lg border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
              <span class="sr-only">Next</span>
              <svg class="h-4 w-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>