    <div class="relative  w-full max-w-3xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative  rounded-lg shadow dark:bg-gray-800 sm:p-5">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Agregar producto</h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" (click)="closeModal()">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form #productForm (ngSubmit)="onSubmit()" method="post" enctype="multipart/form-data">
                <div class="grid gap-4 mb-4 sm:grid-cols-2">

                    <div>
                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción</label>
                        <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.description" type="text" name="description" id="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Netflix sin Geo" required="">
                    </div>
                    <div>
                        <label for="profileprice" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Precio perfil por cliente:</label>
                        <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.client_profile_price"  type="text" name="profileprice" id="profileprice" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$70.00" required="">
                    </div>
                    <div>
                        <label for="accountprice" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Precio cuenta Cliente</label>
                        <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.client_complete_price" type="text" name="accountprice" id="accountprice" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$230" required="">
                    </div>
                    <div>
                        <label for="investment" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Inversion</label>
                        <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.investment" type="text" name="investment" id="investment" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Product brand" required="">
                    </div>
                    <div>
                        <label for="total_profiles" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Perfiles por cuenta</label>
                        <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.total_profiles" type="text" name="total_profiles" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="1" required="">
                    </div>
                    <div>
                        <label for="expiration_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de expiración</label>
                        <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.expiration_date" type="date" name="expiration_date" id="expiration_date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$70" required="">
                    </div>
                                        <div>
                    <label for="total_profiles" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Perfiles activos</label>
                        <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.active_profiles" type="text" name="total_profiles" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="1" required="">
                    </div>
                    <div>
                        <label for="expiration_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Perfiles Disponibles</label>
                        <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.available_profiles" type="text" name="expiration_date" id="expiration_date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$70" required="">
                    </div>
                    <div class="grid gap-4 mb-3 sm:grid-cols-2">
                        <div>
                            <label for="access_identifier" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                            <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.access_identifier" type="text" name="access_identifier" id="access_identifier" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="juan@perez.com" required="" [ngModelOptions]="{ standalone: true }">
                        </div>
                        <div>
                            <label for="access_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
                            <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.access_password" type="text" name="access_password" id="access_password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="105" required="" [ngModelOptions]="{ standalone: true }">
                        </div>
                    </div>
                    <div class="sm:col-span-2"><label for="comments" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comentarios</label>
                        <textarea id="description" rows="1" name="comments" id="comments" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Write product description here">
                        </textarea>
                    </div>
                    <div class="flex justify-center items-center w-full">
                        <input (change)="onFileSelected($event)" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" type="file" accept="image/*" name="file" placeholder="Agregar imagen" aria-describedby="file_input file">
                    </div>
                </div>

                <div class="items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                    <button type="submit" class="w-full sm:w-auto justify-center text-white inline-flex bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" [hidden]="editMode">Guardar</button>
                    <button [hidden]="!editMode" (click)="updateProduct()" class="w-full sm:w-auto text-white justify-center inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" >
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m16 10 3-3m0 0-3-3m3 3H5v3m3 4-3 3m0 0 3 3m-3-3h14v-3"/>
                    </svg>
                        Actualizar
                    </button>
                    <button  type="button" class="w-full justify-center sm:w-auto text-gray-500 inline-flex items-center bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600" (click)="closeModal()">
                        <svg class="mr-1 -ml-1 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                        Descartar
                    </button>
                </div>
            </form>
        </div>
    </div>
<!-- </div> -->