<div class="flex flex-col h-screen bg-gray-900 text-white">
    <header class="bg-gray-900 text-white shadow-md">
      <app-header-side></app-header-side>
    </header>

    <div class="flex flex-1 overflow-hidden">
      <!-- <app-side-nav-bar *ngIf="isLoggedIn" class="w-64  h-screen bg-gray-900 dark:bg-gray-900 text-white">
      </app-side-nav-bar> -->
      <main class="flex-1 overflow-y-5 p-4 bg-gray-900 h-screen">
        <!-- <app-side-nav-bar *ngIf="isLoggedIn" class="w-64 bg-gray-900 text-white overflow-y-auto"></app-side-nav-bar> -->
        <router-outlet class="h-100 w-100 pt-10 mt-15 bg-gray-700"></router-outlet>
      </main>
    
    </div>
  <footer>
    <app-footer-side></app-footer-side>
  </footer>
</div>

  
      <!-- <main class="md:ml-60 h-100 w-100 pt-10"> -->

        <!-- <main class="p-1 md:ml-60 h-100 w-100 pt-10"></main> -->
        <!-- <app-side-nav-bar></app-side-nav-bar > -->
        <!-- <app-products></app-products> -->
        <!-- <router-outlet> -->
          <!-- <app-side-nav-bar></app-side-nav-bar > -->
        <!-- </router-outlet>

        <app-footer-side></app-footer-side>

      </main> -->
      




<!-- Footer section -->
